<div class="contents row">
  <%= form_tag("/researchers", method: :post ) do %>
    <h3>
      情報を登録する
    </h3>
    <input type="text" name="image" placeholder="Image Urlだよああああああ" autofocus="true">
    <input type="text" name="belonging" placeholder="所属" >
    <input type="text" name="field" placeholder="学問分野" >
    <input type="text" name="fielddata" placeholder="詳細" >
    <input type="submit" value="SENT">
  <% end %>
</div>